#commonMods {
    position: relative;
}

#commonMods .overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/underground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px); 
    opacity: 0.7; 
}

#modificationsTitle {
    padding-top: 1.5%;
}