#Options {
    position: relative;
}

#Options .overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/panRoof.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px); 
    opacity: 0.7; 
}

h2 {
    
    z-index: 1;
}


.specificationsText {
    text-align: center;
}

.specsList {
    text-align: center;
}

#optionsDivs {
    padding-top: 5%;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.optionsDiv div {
    padding: 15px;
    width: 300px;
    height: 350px;
    border-radius: 20px;
}

.optionDiv {
    padding: 2%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #434242;
    opacity: 0.8; 
    border-radius: 5%;
}

.optionDivText {
    color: white;
    font-size:medium;
    font-weight: bold;
}

.optionDivTitle {
    color:white;
    font-size: larger;
    font-weight: bolder;
    padding-bottom: 10%;
    text-decoration: underline;
}

.titleDiv {

}

