#Options {
    position: relative;
}

#Options .overlay {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/panRoof.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px); 
    opacity: 0.7; 
}

h2 {
    
    z-index: 1;
}


.specificationsText {
    text-align: center;
}

.specsList {
    text-align: center;
}

#optionsDivs {
    padding-top: 5%;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.optionsDiv div {
    padding: 15px;
    width: 300px;
    height: 350px;
    border-radius: 20px;
}

.optionDiv {
    padding: 2%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #434242;
    opacity: 0.8; 
    border-radius: 5%;
}

.optionDivText {
    color: white;
    font-size:medium;
    font-weight: bold;
    padding-bottom: 7%;
}

.optionDivTextBack {
    color: white;
    font-size:15px;
    font-weight: bold;
    padding-bottom: 4%;
}

.optionDivTitle {
    color:white;
    font-size: larger;
    font-weight: bolder;
    padding-bottom: 10%;
    text-decoration: underline;
    padding-top: 10%;
}


.optionsMainText {
    font-size: 30px;
    text-align: center;
    padding-top: 1%;
}

/* .optionsSmallerText {
    font-size: 20px;
    padding-top: 4%;
    text-align: center;
    color: black;
} */

.textDiv {
    padding-top: 12%;
}



.flip-card {
    background-color: transparent;
    width: 300px;
    height: 384px;
    perspective: 1000px;
    align-items: center;
    font-family: sans-serif;
    gap: 10px;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    gap:10px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card-front {
   background: #434242;
   opacity: 0.8; 
    border-radius: 5%;
    color: coral;
    gap:10px;
  }
  
  .flip-card-back {
   background-color: #434242;
   opacity: 0.8; 
    border-radius: 5%;
    color: white;
    transform: rotateY(180deg);
  }


    /* ---------- OPTIONS MOBILE ---------- */
   

    
  #OptionsMobile {
    /* background-image: url(../img/panRoof.jpg);
    background-color: aqua; */
    position: relative;
  }


    #OptionsMobile .overlay {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/panRoof.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(5px); 
        opacity: 0.7; 
    }

    #OptionsMobile {
        display: none;
    }






    @media screen and (max-width: 1017px) {
        #Options {
            display: none;
        }
    
        #OptionsMobile {
            display: inline;
        }

        .container {
            margin-left: 0%;
            margin-right: 0%;
        }
    
    }

    


    .mobileOption {
        margin-left: 2%;
        margin-right: 2%;
        padding: 1%;
        background-color: #434242;
        height: 22vh;
        width: 94vw;
        margin-bottom: 3%;
    }

    #techPackMobile {
        margin-top: 5%;
    }

    #optionsMobileTitle {
        padding-top: 10%;
    }

    .optionsMobileDivSubTitle {
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
        color: white;
        padding-bottom: 1%;
    }

    .optionsMobileDivText {
        color: white;
        font-size: 15px;
    }


    @media screen and (max-width: 895px) {
    
        .optionsMobileDivText {
            font-size: 14px;
        }

    }

    @media screen and (max-width: 833px) {
    
        .optionsMobileDivText {
            font-size: 13.5px;
        }

    }

    @media screen and (max-width: 806px) {
    
        .optionsMobileDivText {
            font-size: 13.4px;
        }

    }

    @media screen and (max-width: 797px) {
    
        .optionsMobileDivText {
            font-size: 13.1px;
        }

    }

    @media screen and (max-width: 780px) {

        #optionsMobileTitle {
            padding-top: 7%;
        }
    
        .optionsMobileDivText {
            font-size: 12.8px;
        }

    }

    @media screen and (max-width: 765px) {
    
        .optionsMobileDivText {
            font-size: 12.5px;
        }

    }

    @media screen and (max-width: 525px) {
    
        .optionsMobileDivText {
            font-size: 12.3px;
        }

    }

    @media screen and (max-width: 513px) {
    
        .optionsMobileDivText {
            font-size: 12px;
        }

    }

    @media screen and (max-width: 502px) {
    
        .optionsMobileDivText {
            font-size: 11.5px;
        }

    }

    @media screen and (max-width: 377px) {
    
        .optionsMobileDivText {
            font-size: 11px;
        }

    }


    